@import '~nativescript-theme-core/css/core.light.css';

.page {
  padding-left: 5;
}

.big {
  font-size: 20;
  margin-bottom: 10;
}

.item {
  padding: 15;
  background-color: white;
  font-size: 16;
  color:#404040;
}

Button{
  padding: 5;
}

.viewButton {
  font-size: 12;
}