@import '~nativescript-theme-core/css/core.light.css';

.list {
  height: 100%;
}

.item {
  text-align: left;
  vertical-align: center;
  font-size: 16;
  color: #404040;
  background-color: white;
}

.titleLabel {
  margin: 16;
  vertical-align: center;
}
