@import '~nativescript-theme-core/css/core.light.css';

.item {
  text-align: left;
  vertical-align: center;
  font-size: 16;
  color:#404040;
}

.gauge {
  margin: 10;
}

.titleLabel {
  margin: 16;
  vertical-align: center;
}

button {
  vertical-align: center;
  margin-bottom: 10;
}