@import '~nativescript-theme-core/css/core.light.css';

.page {
  padding-left: 5;
}

.big {
  font-size: 20;
  margin-bottom: 10;
}

.item {
  padding: 15 0;
  background-color: white;
}

.titleLabel {
    margin: 16;
    vertical-align: center;
}
