@import '~nativescript-theme-core/css/core.light.css';

.item {
  text-align: left;
  vertical-align: center;
  font-size: 16;
}

button {
  font-size: 15;
  horizontal-align: center;
}

RadSideDrawer .drawerContentText {
  font-size: 13;
  padding: 10;
}

RadSideDrawer .drawerContentButton {
  margin: 10;
  horizontal-align: left;
}

.sideStackLayout {
  background-color: gray;
}

.sideStackLayout Button {
  color: white;
}

.sideTitleStackLayout {
  text-align     : center;
  padding-top    : 20;
  padding-bottom : 20;
}

.sideLabel {
  padding: 10;
}

.sideLightGrayLabel {
  background-color: lightgray;
}

.titleLabel {
  margin: 16;
  vertical-align: center;
}

.root-drawer-content {
  background-color: lightgray;
}

.mainStackLayout {
  background-color: white;
}